.hero {
  background-position: center;
  background-size: cover;
  color: white;
  height: 400px;
  width: 100%;
  z-index: -1;
}

.o-80 {
  opacity: 0.8;
}

.btn-fit {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.morning {
  background-color: blueviolet;
}

.afternoon {
  background-color: darkorange;
}

.evening {
  background-color: dodgerblue;
}

.day-panel {
  font-size: 16px;
  width: 20%;
  height: 200px;
}

.day-panel:hover {
  width: 22%;
}

.day-panel:hover .show-on-hover {
  opacity: 1;
}

.b-cloud-bolt {
  background-image: url("../images/cloud-bolt.jpg")
}

.b-cloud-showers-heavy {
  background-image: url("../images/cloud-showers-heavy.jpg")
}

.b-snowflake {
  background-image: url("../images/snowflake.jpg")
}

.b-smog {
  background-image: url("../images/smog.jpg")
}

.b-wind {
  background-image: url("../images/wind.jpg")
}

.b-tornado {
  background-image: url("../images/tornado.jpg")
}

.b-sun {
  background-image: url("../images/sun.jpg");
}

.b-cloud-sun {
  background-image: url("../images/cloud-sun.jpg")
}

.b-cloud {
  background-image: url("../images/cloud.jpg")
}

.simple-animate {
  transition: all 0.3s ease-in-out;
}

.simple-animate:hover {
  opacity: 1;
  font-size: 110%;
}

.show-on-hover {
  opacity: 0;
}